%auth-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50vw;
  padding: 20px;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

%login-form-buttons {
  display: flex;
  justify-content: space-around;
}

.LoginForm {
  @extend %auth-form;
}

.LoginForm-Buttons {
  @extend %login-form-buttons;
}

.RegisterForm {
  @extend %auth-form;
}

.RegisterForm-Buttons {
  @extend %login-form-buttons;
}
