.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.Nav-Ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  list-style-type: none;
}

.Nav-Ul li {
  color: white;
  text-decoration: none;
}
