.ProfileInfo {
  display: flex;
  margin: 25px;
  font-size: large;
}

.ProfileInfo-Image {
  width: 256px;
  height: 256px;
  border-radius: 8px;
}

.ProfileInfo-Description {
  padding-left: 50px;
}
