.ProfileForm {
  padding: 10px 10px 25px 10px;
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 5px;
  height: 100%;
}

.btn.btn-warning {
  margin-left: 10px;
}

@media (max-width: 400px) {
  .btn.btn-warning {
    margin-left: 0;
  }
}
