.ProfileLeftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;

  .figure {
    img {
      margin-top: 15px;
      width: 15vw;
      height: 17vw;
      object-fit: cover;
      box-shadow: 0 0 10px 3px white;
    }
  }
}

.ProfileLeftSide-Buttons {
  display: flex;
  flex-direction: column;
  width: 10vw;
}
