.ProfileInfo {
  display: flex;
  margin: 25px;
  font-size: large;
}

.ProfileInfo-Image {
  width: 256px;
  height: 256px;
  border-radius: 8px;
  border: 2px solid white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.ProfileInfo-Description {
  margin-left: 50px;
  padding: 20px;
  width: 50vw;
  border: 2px solid white;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
