.SearchForm {
  display: flex;
  width: 90%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background: rgba(180, 228, 240, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-family: "Cinzel Decorative", cursive;
}

.SearchForm-Gender {
  margin-right: 50px;
}

.SearchForm-Targets {
  margin-right: 50px;
}

@media (max-width: 500px) {
  .SearchForm-Gender {
    margin-right: 5px;
  }

  .SearchForm-Targets {
    margin-right: 5px;
  }
}
