.UserCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(173, 216, 230, 0.514);
  width: 200px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
}

.UserCard-Creds a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.UserCard-Avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.UserCard-RateButtons {
  display: flex;
  width: 150px;
  justify-content: space-around;
  margin-bottom: 15px;
}

%rate-button {
  border-radius: 5px;
  padding: 3px;
}

.RateButtons-Like {
  @extend %rate-button;
  background-color: lightblue;
}

.RateButtons-Dislike {
  @extend %rate-button;
  background-color: lightcoral;
}
