.carousel.modified {
  width: 70%;
  .carousel-inner {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.247);
    .carousel-item {
      img {
        height: 400px;
      }
    }
    .carousel-caption {
      padding: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.582);
      h5,
      p {
        color: white;
      }
    }
  }
  .carousel-control-prev {
    left: 30px;
  }
  .carousel-control-next {
    right: 30px;
  }
  i {
    font-size: 5em;
  }
}

@media (max-width: 500px) {
  .carousel.modified {
    .carousel-inner {
      .carousel-caption {
        height: 35px;
        h5,
        p {
          font-size: 7pt;
        }
      }
    }
    .carousel-control-prev {
      left: 15px;
    }
    .carousel-control-next {
      right: 15px;
    }
    i {
      font-size: 2em;
    }
  }
}

@media (max-width: 350px) {
  .carousel.modified {
    .carousel-inner {
      .carousel-caption {
        height: 30px;
      }
    }
  }
}
