.UserAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;

  .figure {
    position: relative;
    img {
      width: 20vw;
      height: 17vw;
      object-fit: cover;
      box-shadow: 0 0 10px 3px white;
    }
  }
}

.UserAvatar-StatusIndicator {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  border: 1px solid black;
}

.online {
  background-color: rgba(103, 218, 103, 0.493);
}

.offline {
  background-color: gray;
}

.UserAvatar-MyButtons {
  width: 100px;
  display: flex;
  flex-direction: column;
}

.UserAvatar-Buttons {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 450px) {
  .UserAvatar-MyButtons {
    font-size: 8pt;
    width: 65px;
  }
  .UserAvatar-StatusIndicator {
    width: 10px;
    height: 10px;
  }
}
