<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE configuration PUBLIC '-//mybatis.org//DTD Config 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
    <properties resource='db/jdbc.properties'/>
    <typeAliases>
        <typeAlias type='ru.school.matcha.domain.Auth' alias='Auth'/>
        <typeAlias type='ru.school.matcha.domain.Form' alias='Form'/>
        <typeAlias type='ru.school.matcha.domain.Guest' alias='Guest'/>
        <typeAlias type='ru.school.matcha.domain.Image' alias='Image'/>
        <typeAlias type='ru.school.matcha.domain.Tag' alias='Tag'/>
        <typeAlias type='ru.school.matcha.domain.User' alias='User'/>
        <typeAlias type='ru.school.matcha.domain.User' alias='Like'/>
    </typeAliases>
    <environments default='development'>
        <environment id='development'>
            <transactionManager type='JDBC'/>
            <dataSource type='POOLED'>
                <property name='driver' value='${jdbc.driverClassName}'/>
                <property name='url' value='${jdbc.url}'/>
                <property name='username' value='${jdbc.username}'/>
                <property name='password' value='${jdbc.password}'/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource='ru/school/matcha/dao/FormMapper.xml'/>
        <mapper resource='ru/school/matcha/dao/UserMapper.xml'/>
        <mapper resource='ru/school/matcha/dao/LikeMapper.xml'/>
        <mapper resource='ru/school/matcha/dao/GuestMapper.xml'/>
        <mapper resource='ru/school/matcha/dao/ImageMapper.xml'/>
        <mapper resource='ru/school/matcha/dao/TagMapper.xml'/>
    </mappers>
</configuration>
