<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.school.matcha.dao.GuestMapper">

    <resultMap id="Guest" type="ru.school.matcha.domain.Guest">
        <result property="date" column="date_ts"/>
        <result property="username" column="username"/>
        <association property="avatar" column="avatar_id" javaType="ru.school.matcha.domain.Image"
                     select="ru.school.matcha.dao.ImageMapper.getImageById"/>
    </resultMap>

    <insert id="createGuest">
        INSERT INTO guests(guest_id, user_id)
        VALUES (#{guestId}, #{userId})
        ON CONFLICT (guest_id, user_id) DO UPDATE SET date_ts = now()
    </insert>

    <delete id="deleteGuest">
        DELETE
        FROM guests
        WHERE user_id = #{userId}
          AND guest_id = #{guestId}
    </delete>

    <select id="getGuestsByUserId" resultMap="Guest">
        SELECT date_ts, avatar_id, username
        FROM guests INNER JOIN "user" u on guests.guest_id = u.id
        WHERE user_id = #{userId}
    </select>

</mapper>