<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.school.matcha.dao.ImageMapper">

    <resultMap id="Image" type="ru.school.matcha.domain.Image">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="link" column="link"/>
        <result property="externalId" column="external_id"/>
        <result property="userId" column="user_id"/>
        <result property="createTs" column="create_ts"/>
    </resultMap>

    <insert id="createImage" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO images(name, link, external_id, user_id)
        VALUES (#{name}, #{link}, #{externalId}, #{userId})
    </insert>

    <update id="deleteImageById">
        DELETE
        FROM "images"
        WHERE id = #{id}
    </update>

    <select id="getImageById" resultMap="Image">
        SELECT *
        FROM images
        WHERE id = #{id}
    </select>

    <select id="getAvatarByUserId" resultMap="Image">
        SELECT *
        FROM images
        WHERE id = (SELECT avatar_id FROM "user" WHERE id = #{id})
    </select>

    <select id="getImagesByUserId" resultMap="Image">
        SELECT *
        FROM images
        WHERE user_id = #{id}
    </select>

    <select id="getCountImagesByUserId" resultType="java.lang.Long">
        SELECT count(id) FROM images WHERE user_id = #{userId}
    </select>

</mapper>