<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.school.matcha.dao.LikeMapper">

    <resultMap id="Like" type="ru.school.matcha.domain.Like">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <association property="avatar" column="avatar_id" javaType="ru.school.matcha.domain.Image"
                     select="ru.school.matcha.dao.ImageMapper.getImageById"/>
    </resultMap>

    <resultMap id="Matcha" type="ru.school.matcha.domain.Matcha">
        <result property="to" column="to"/>
        <result property="from" column="from"/>
    </resultMap>

    <select id="getLikes" resultMap="Like">
        SELECT username,
        <if test="outgoing == null or !outgoing">"from" as id</if>
        <if test="outgoing">"to" as id</if>
        FROM likes
        <if test="outgoing == null or !outgoing">INNER JOIN "user" u on u.id = likes."from"</if>
        <if test="outgoing">INNER JOIN "user" u on u.id = likes."to"</if>
        WHERE
        <if test="outgoing == null or !outgoing">
            "to" = #{userId}
        </if>
        <if test="outgoing">
            "from" = #{userId}
        </if>
        <if test="isLike">
            AND "like" = true
        </if>
        <if test="!isLike">
            AND "like" = false
        </if>
    </select>

    <select id="getLike" resultType="java.lang.Long">
        SELECT id
        FROM likes
        WHERE "to" = #{to}
        AND "from" = #{from}
        <if test="isLike">
            AND "like" = true
        </if>
        <if test="!isLike">
            AND "like" = false
        </if>
    </select>

    <select id="getMatcha" resultMap="Matcha">
        SELECT *
        FROM likes
        WHERE "to" = 1
          AND "like" = true
        UNION
        SELECT *
        FROM likes
        WHERE "from" = 1
          AND "like" = true
    </select>

    <delete id="deleteLike">
        DELETE
        FROM likes
        WHERE "from" = #{from}
        AND "to" = #{to}
        <if test="isLike">
            AND "like" = true
        </if>
        <if test="!isLike">
            AND "like" = false
        </if>
    </delete>

    <update id="deleteRate">
        UPDATE "user"
        SET rate = (rate - 1)
        WHERE id = #{userId}
    </update>

    <insert id="like">
        INSERT INTO likes("from", "to", "like")
        values (#{from}, #{to}, #{isLike})
    </insert>

    <update id="addRate">
        UPDATE "user"
        SET rate = (rate + 1)
        WHERE id = #{userId}
    </update>

</mapper>