<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.school.matcha.dao.TagMapper">

    <resultMap id="Tag" type="ru.school.matcha.domain.Tag">
        <id property="id" column="id"/>
        <result property="tag" column="tag"/>
        <result property="createTs" column="create_ts"/>
    </resultMap>

    <insert id="createTag" keyProperty="id" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO tags(tag)
        VALUES (#{tag})
    </insert>

    <insert id="createUserRefTag">
        INSERT INTO user_ref_tags(tag_id, user_id) VALUES (#{tagId}, #{userId})
    </insert>

    <delete id="deleteTagById">
        DELETE
        FROM tags
        WHERE id = #{id}
    </delete>

    <delete id="deleteUserTags">
        DELETE
        FROM tags
        WHERE id IN (SELECT tag_id FROM user_ref_tags WHERE user_id = #{userId})
    </delete>

    <delete id="deleteUserRefTag">
        DELETE FROM user_ref_tags WHERE user_id = #{userId} AND tag_id = #{tagId}
    </delete>

    <select id="getTags" resultMap="Tag">
        SELECT *
        FROM tags
    </select>

    <select id="getTagsByUserId" resultMap="Tag">
        SELECT *
        FROM tags
        WHERE id IN (SELECT tag_id FROM user_ref_tags WHERE user_id = #{userId})
    </select>

    <select id="getTagByName" resultMap="Tag">
        SELECT *
        FROM tags
        WHERE tag = #{name}
    </select>

    <select id="getTagById" resultMap="Tag">
        SELECT *
        FROM tags
        WHERE id = #{id}
    </select>

</mapper>