<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.school.matcha.dao.UserMapper">

    <resultMap id="User" type="ru.school.matcha.domain.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="email" column="email"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="description" column="description"/>
        <result property="isActive" column="is_active"/>
        <result property="createTs" column="create_ts"/>
        <result property="updateTs" column="update_ts"/>
        <result property="deleteTs" column="delete_ts"/>
        <association property="form" column="id" javaType="ru.school.matcha.domain.Form"
                     select="ru.school.matcha.dao.FormMapper.getFormById"/>
    </resultMap>

    <insert id="createUser">
        INSERT INTO user (username,
                          first_name,
                          last_name,
                          email,
                          gender,
                          birthday,
                          description,
                          is_active,
                          form_id,
                          create_ts)
        VALUES (#{username},
                #{firstName},
                #{lastName},
                #{email},
                #{gender},
                #{birthday},
                #{description},
                true,
                #{form.id},
                now())
    </insert>

    <update id="updateUser">
        UPDATE "user" SET
        <if test="firstName != null">
            first_name = #{firstName},
        </if>
        <if test="lastName != null">
            last_name = #{lastName},
        </if>
        <if test="email != null">
            email = #{email},
        </if>
        <if test="gender != null">
            gender = #{gender},
        </if>
        <if test="birthday != null">
            birthday = #{birthday},
        </if>
        <if test="description != null">
            description = #{descrition},
        </if>
        update_ts = now()
        WHERE id = #{id}
    </update>

    <delete id="deleteUserById">
        <if test="id != null">
            DELETE FROM "user"
            WHERE id = #{id}
        </if>
    </delete>

    <delete id="deleteUserByUsername">
        <if test="username != null">
            DELETE FROM "user"
            WHERE username ILIKE #{username}
        </if>
    </delete>

    <select id="getAllUsers" resultMap="User">
        SELECT id,
               username,
               first_name,
               last_name,
               email,
               gender,
               birthday,
               description,
               is_active,
               form_id,
               create_ts,
               update_ts,
               delete_ts
        FROM "user"
    </select>

    <select id="getUserById" resultMap="User">
        <if test="id != null">
            SELECT
            id,
            username,
            first_name,
            last_name,
            email,
            gender,
            birthday,
            description,
            is_active,
            form_id,
            create_ts,
            update_ts,
            delete_ts
            FROM "user"
            WHERE id = #{id}
        </if>
    </select>

    <select id="getUserByUsername" resultMap="User">
        <if test="username != null">
            SELECT
            id,
            username,
            first_name,
            last_name,
            email,
            gender,
            birthday,
            description,
            is_active,
            form_id,
            create_ts,
            update_ts,
            delete_ts
            FROM "user"
            WHERE username ILIKE #{username}
        </if>
    </select>
</mapper>