<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.school.matcha.dao.UserMapper">

    <resultMap id="User" type="ru.school.matcha.domain.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="email" column="email"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="description" column="description"/>
        <result property="isActive" column="is_active"/>
        <result property="createTs" column="create_ts"/>
        <result property="updateTs" column="update_ts"/>
        <result property="deleteTs" column="delete_ts"/>
        <association property="form" column="id" javaType="ru.school.matcha.domain.Form"
                     select="ru.school.matcha.dao.FormMapper.getFormById"/>
    </resultMap>

    <insert id="createUser" keyProperty="user.id" useGeneratedKeys="true">
        INSERT INTO "user"(username, email, password, is_active, form_id, create_ts)
        VALUES (#{credentials.username},
                #{credentials.email},
                #{credentials.password},
                true,
                #{formId},
                now())
    </insert>

    <insert id="createFullUser">
        INSERT INTO "user"(username, first_name, last_name, password, email, gender, birthday, description, form_id)
        VALUES (#{username},
                #{firstName},
                #{lastName},
                #{password},
                #{email},
                #{gender},
                #{birthday},
                #{desctiption},
                #{form.id})
        ON CONFLICT DO NOTHING
    </insert>

    <update id="updateUserByUsername">
        <if test="username">
            UPDATE "user" SET
            <if test="firstName != null">
                first_name = #{firstName},
            </if>
            <if test="lastName != null">
                last_name = #{lastName},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="form != null and form.id != null">
                form_id = #{form.id},
            </if>
            update_ts = now()
            WHERE username = #{username}
        </if>
    </update>

    <update id="updateUserById">
        <if test="id">
            UPDATE "user" SET
            <if test="firstName != null">
                first_name = #{firstName},
            </if>
            <if test="lastName != null">
                last_name = #{lastName},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="form != null and form.id != null">
                form_id = #{form.id},
            </if>
            update_ts = now()
            WHERE id = #{id}
        </if>
    </update>

    <delete id="deleteUserById">
        <if test="id != null">
            DELETE FROM "user"
            WHERE id = #{id}
        </if>
    </delete>

    <delete id="deleteUserByUsername">
        <if test="username != null">
            DELETE FROM "user"
            WHERE username ILIKE #{username}
        </if>
    </delete>

    <select id="getAllUsers" resultMap="User">
        SELECT id,
               username,
               first_name,
               last_name,
               email,
               gender,
               birthday,
               description,
               is_active,
               form_id,
               create_ts,
               update_ts,
               delete_ts
        FROM "user"
    </select>

    <select id="getUserById" resultMap="User">
        <if test="id != null">
            SELECT
            id,
            username,
            first_name,
            last_name,
            email,
            gender,
            birthday,
            description,
            is_active,
            form_id,
            create_ts,
            update_ts,
            delete_ts
            FROM "user"
            WHERE id = #{id}
        </if>
    </select>

    <select id="getUserByUsername" resultMap="User">
        <if test="username != null">
            SELECT
            id,
            username,
            first_name,
            last_name,
            email,
            gender,
            birthday,
            description,
            is_active,
            form_id
            FROM "user"
            WHERE username ILIKE #{username}
        </if>
    </select>

    <select id="getUserEncryptPasswordById" resultType="java.lang.String">
        <if test="id != null">
            SELECT password FROM "user" WHERE id = #{id}
        </if>
    </select>
</mapper>