<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.school.matcha.dao.UserMapper">

    <resultMap id="User" type="ru.school.matcha.domain.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="email" column="email"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="description" column="description"/>
        <result property="isActive" column="is_active"/>
        <result property="rate" column="rate"/>
        <result property="role" column="role"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="isVerified" column="is_verified"/>
        <result property="createTs" column="create_ts"/>
        <result property="updateTs" column="update_ts"/>
        <result property="deleteTs" column="delete_ts"/>
        <association property="form" column="form_id" javaType="ru.school.matcha.domain.Form"
                     select="ru.school.matcha.dao.FormMapper.getFormById"/>
        <association property="avatar" column="avatar_id" javaType="ru.school.matcha.domain.Image"
                     select="ru.school.matcha.dao.ImageMapper.getImageById"/>
    </resultMap>

    <resultMap id="UserWithMinimumInfo" type="ru.school.matcha.domain.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <association property="avatar" column="avatar_id" javaType="ru.school.matcha.domain.Image"
                     select="ru.school.matcha.dao.ImageMapper.getImageById"/>
    </resultMap>

    <insert id="createUser" keyProperty="user.id" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO "user"(username,
                           email,
                           password,
                           first_name,
                           last_name,
                           is_active,
                           form_id,
                           rate,
                           is_verified,
                           create_ts)
        VALUES (#{user.username},
                #{user.email},
                #{user.password},
                #{user.firstName},
                #{user.lastName},
                true,
                #{formId},
                #{user.rate},
                #{user.isVerified},
                now())
    </insert>

    <insert id="createFullUser">
        INSERT INTO "user"(username, first_name, last_name, password, email, gender, birthday, description, rate,
                           form_id)
        VALUES (#{username},
                #{firstName},
                #{lastName},
                #{password},
                #{email},
                #{gender},
                #{birthday},
                #{description},
                #{rate},
                #{form.id})
        ON CONFLICT DO NOTHING
    </insert>

    <insert id="addToBlackList">
        INSERT INTO black_list("from", "to")
        VALUES (#{from}, #{to})
        ON CONFLICT DO NOTHING
    </insert>

    <update id="updateUserByUsername">
        UPDATE "user" SET
        <if test="firstName != null">
            first_name = #{firstName},
        </if>
        <if test="lastName != null">
            last_name = #{lastName},
        </if>
        <if test="email != null">
            email = #{email},
        </if>
        <if test="gender != null">
            gender = #{gender},
        </if>
        <if test="birthday != null">
            birthday = #{birthday},
        </if>
        <if test="description != null">
            description = #{description},
        </if>
        <if test="form != null and form.id != null">
            form_id = #{form.id},
        </if>
        <if test="avatar != null and avatar.id != null">
            avatar_id = #{avatar.id},
        </if>
        <if test="latitude != null">
            latitude = #{latitude},
        </if>
        <if test="longitude != null">
            longitude = #{longitude},
        </if>
        <if test="password != null">
            password = #{password},
        </if>
        update_ts = now()
        WHERE username = #{username}
    </update>

    <update id="updateUserById">
        UPDATE "user" SET
        <if test="firstName != null">
            first_name = #{firstName},
        </if>
        <if test="lastName != null">
            last_name = #{lastName},
        </if>
        <if test="email != null">
            email = #{email},
        </if>
        <if test="gender != null">
            gender = #{gender},
        </if>
        <if test="birthday != null">
            birthday = #{birthday},
        </if>
        <if test="description != null">
            description = #{description},
        </if>
        <if test="form != null and form.id != null">
            form_id = #{form.id},
        </if>
        <if test="avatar != null and avatar.id != null">
            avatar_id = #{avatar.id},
        </if>
        <if test="latitude != null">
            latitude = #{latitude},
        </if>
        <if test="longitude != null">
            longitude = #{longitude},
        </if>
        <if test="password != null">
            password = #{password},
        </if>
        update_ts = now()
        WHERE id = #{id}
    </update>

    <update id="deleteUserById">
        UPDATE "user"
        SET is_active = false,
            form_id   = null,
            delete_ts = now()
        WHERE id = #{id}
    </update>

    <update id="updatePasswordByUserId">
        UPDATE "user"
        SET update_ts = now(),
            password  = #{newPassword}
        WHERE id = #{userId}
    </update>

    <update id="verifiedUser">
        UPDATE "user"
        SET is_verified = true
        WHERE id = #{userId}
    </update>

    <delete id="deleteFromBlackList">
        DELETE
        FROM black_list
        WHERE "from" = #{from}
          AND "to" = #{to}
    </delete>

    <select id="getAllUsers" resultMap="User">
        SELECT *
        FROM "user"
        WHERE is_active = true
          AND is_verified = true
        ORDER BY id
    </select>

    <select id="getUserById" resultMap="User">
        SELECT *
        FROM "user"
        WHERE id = #{id}
          and is_active = true
    </select>

    <select id="getUserByUsername" resultMap="User">
        SELECT *
        FROM "user"
        WHERE username ILIKE #{username}
          and is_active = true
    </select>

    <select id="getUserEncryptPasswordById" resultType="java.lang.String">
        SELECT password
        FROM "user"
        WHERE id = #{id}
    </select>

    <select id="getUsersByTagId" resultMap="User">
        SELECT u.*
        FROM "user" u
                 INNER JOIN user_ref_tags t on u.id = t.user_id
        WHERE t.tag_id = #{tagId}
    </select>

    <select id="getUserWithMinimumInfo" resultMap="UserWithMinimumInfo">
        SELECT id, username, gender, birthday, avatar_id
        FROM "user"
        WHERE id = #{id}
    </select>

    <select id="getUserByEmail" resultMap="User">
        SELECT *
        FROM "user"
        WHERE email = #{email}
    </select>

    <select id="getMatcha" resultMap="User">
        SELECT u.*
        FROM (SELECT DISTINCT general."to" id
              FROM likes general
                       INNER JOIN likes tmp ON general."from" = tmp."to"
              WHERE general."like" = true
                AND general."from" = #{id}) AS matches
                 INNER JOIN "user" u ON u.id = matches.id
    </select>

    <select id="getUserFromBlackList" resultMap="UserWithMinimumInfo">
        SELECT *
        FROM black_list
        WHERE "to" = #{to}
          AND "from" = #{from}
    </select>

    <select id="getUserBlackList" resultMap="UserWithMinimumInfo">
        SELECT * FROM black_list WHERE "from" = #{userId}
    </select>

</mapper>